<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="LogGUIMaxLine" value="50"/>
    <add key="FlagLogIntoFile" value="false"/>
    <add key="FlagShowLogMessages" value="true"/>
    <add key="ConfigFileExist" value="true"/>
  </appSettings>
</configuration>
