.cproject
.project
.pydevproject
cmake_install.cmake
build/
bin/
Debug/
lib/
msg_gen/
srv_gen/
*.pyc
[Subprojects]/
[Targets]/
CATKIN_IGNORE
gtest/
catkin_generated/
devel/
*~
default_warehouse_mongo_db/

